.button {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  min-width: 60px;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.button:active {
  background-color: rgb(105, 132, 252);
}

.countainer {
  margin: 20px 0;
}
